<%- include("partials/header") %>
<div class="compose">
<h1>Compose</h1>

<form action="/" method="post">
<div>
 <p>Title</p>   
<input  type="text" class="input1" name="inTitle" placeholder="Write Here">
</div><br>
<div >
<p>Post</p>
<textarea  class="input2" name="inPost" id="" cols="30" rows="10"></textarea>
</div>
<br>
<button class="btn" id="btn2" type="submit" >PUBLISH</button>
</form>
</div>

<!-- <%- include("partials/footer") %> -->