<%- include("partials/header") %>
<h1>Compose</h1>

<form action="/" method="post">
    <div class="mb-3">
 <p>Title</p>   
<input class="form-control"  type="text" name="inTitle" placeholder="Write Here">
</div><br>
<div class="mb-3">
<p>Post</p>
<textarea class="form-control" name="inPost" id="" cols="30" rows="10"></textarea>
</div>
<br>
<button type="submit"  class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") %>